body {
    background-color: #F0F0F4;
    color: #111;
    font-family: sans-serif;
    width: 360px;
    padding: 5px;
}

.text {
    margin-left: 12px;
    margin-right: 12px;
}

h1 {
    font-size: 1.4rem;

    margin-top: .5rem;
    margin-bottom: 1rem;
}

#qrcode {
    background-color: #FFF;
    border-radius: 25px;
    padding: 25px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202024;
        color: #E0E0E4;
    }
}
